<div class="container">
    <h1>Drivers</h1>
    <button class="btn btn-secondary my-4" (click)="getSelectedDrivers()">Selected drivers</button>
    <ul *ngIf="selectedDrivers" class="drivers">
        <li *ngFor="let selectedDriver of selectedDrivers" class="driver">
            <p *ngIf="!selectedDriver.name else elseBlock">
                <p *ngIf="!selectedDriver.name">No driver selected</p>
                <p>{{ selectedDriver.name }}</p>
        </li>
    </ul>
    <table *ngIf="selectedDrivers" class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Short Name</th>
        </thead>
        <tbody *ngFor="let driver of drivers" class="driver">
            <tr
                [class.choosen]="driver.familyName === selectedDrivers[0].name || driver.familyName === selectedDrivers[1].name">
                <td>
                    {{ driver.givenName }} {{ driver.familyName }}
                </td>
                <td>
                    {{ driver.permanentNumber }}
                </td>
                <td>
                    {{ driver.code }}
                </td>
            </tr>
        </tbody>
        <tr></tr>
    </table>
</div>