<div class="jumbotron">
    <div class="container main">
        <h1 class="title">Hey, choose two drivers...</h1>
    
        <div>
            <p>
                <input type="text" id="choosenDriver1" placeholder="Your first driver">
                <input type="text" id="choosenDriver2" placeholder="Your second driver">
            </p>
        </div>
        
        <div>...or let me choose for you</div>
        
        <div class="result">
            <div>
                <button class="btn btn-primary" (click)="getRandom1stDriverNumber()">Get my first driver</button>
                <div>Your first driver is:
                    <span>
                        {{ firstDriver }} {{ firstDriversName }}
                    </span>
                </div>
            </div>
           <div>
                <button class="btn btn-primary" (click)="getRandom2ndDriverNumber()">Get my second driver</button>
                <div>Your second driver is:
                    <span>
                        {{ secondDriver }} {{ secondDriversName }}
                    </span>
                </div>
           </div>
        </div>
    </div>
</div>

<app-drivers></app-drivers>