.jumbotron {
  display: block;
  height: 545px;
  background-image: url("../../assets/drivers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main {
  padding: 1em;
  background-color: rgba(rgb(255, 255, 255), 0.5);
}

.title {
  margin: 0.5em 0;
}

.result {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: bold;
  margin: 2em 0 1em;
  padding: 3em;
}
