<div class="container">
    <div class="btn-group my-4">
        <button (click)="getMultipleRaces(3)" class="btn btn-primary">Generate races</button>
    </div>
    <div>
        <div>Your selected drivers:</div>
            <span id="firstDriverOnRacePage" class="mr-4"></span>
            <span id="secondDriverOnRacePage"></span>
    </div>
    <div>
        <div>How many races do you want?</div>
        <input class="input mt-2" type="number" [(ngModel)]="numberOfRaces">
    </div>
    <div>
        <highcharts-chart *ngIf="allRace"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions"
        [(update)]="updateFlag"
        style = "width: 100%; height: 400px; display: block; margin-bottom: 2em;">
     </highcharts-chart>
    </div>
    <app-d3js-chart 
        [allRace]="allRace"
        *ngIf="allRace">
    </app-d3js-chart>
</div>

