<header>
  <div class="container">
    <a href="#" class="logo">
      <img src="../assets/logo.svg" alt="FantasyF1">
    </a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" routerLink="/races">Races</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>