@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

// component scss
@import '../src/app/home/drivers/drivers.component.scss';
@import '../src/app/home/races/d3js-chart/d3js-chart.component.scss';

// variables
$primary: #e10600;
$secondary: #1f1f27;

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

header {
    background-color: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($color: $primary, $amount: 10%);
                }
            }
        }
    }
}

.btn {
    text-transform: uppercase;
}

.btn.btn-primary {
    background-color: $primary;
    border-color: darken($color: $primary, $amount: 5%);

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):active {
        background-color: white;
        color: $secondary;
        border-color: $primary;
    }
}

.btn.btn-secondary {
    background-color: $secondary;
    border-color: lighten($color: $secondary, $amount: 5%);

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):active {
        background-color: lighten($color: $secondary, $amount: 15%);
        border-color: $secondary;
    }
}